body{
  /* background:rgb(68, 68, 68); */
  background:whitesmoke;
}

.App {
  max-width: 25em;
  margin: 0 auto;
  /* padding: 40px; */
  background: white;
}



h1, h2, h3, h4,h5{
    margin: 0;
}

.navStyle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;
}


/* Tables */
table {
    margin-top: 40px;
    margin-bottom: 40px;
    border-collapse:collapse;
}

td, th {
    border: 1px solid black;text-align:left;
    padding: 0px;
}

tr:nth-child(even){
    background-color: #dddddd;

}

th {
    height: 20px;
    background-color:gray;
}

td {
    height: 40px;
}


.regLoginNav-container{
    width: auto;
    background: none;
    margin: 0 auto;
    padding: 30px;
  }
  
  .regLoginNav-container nav{
    border-radius:  20px 20px 0 0;
    text-decoration: none;
    background: white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.137);
    justify-items: center;
  
  }
  
  
  .regLoginNav-container nav a{
    text-decoration: none;
    color: #B936D2;
    font: 1.2em sans-serif;
  }


  .regLogin-container{
  display: grid;
  max-width: 65em;
  margin: 0 auto;
  padding: 50px 0;
}


.reg-container{
    display: grid;
    background: white;
    width: auto;
    padding: 30px;
    min-height: 300px;
    border-radius:  0 0 20px 20px ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.137);
  }
  
  .reg-container form{
    display: grid;
    row-gap: 5px;
    align-self: start;
  }
  
  .reg-container form input {
    padding: 7px;
    height: 20px;
  }

  .reg-container form button {
      padding: 6px;
      font: 1.1em sans-serif;
      background: #B936D2;
      color: white;
      border:  none;
      border-radius: 5px;

  }

  .dashboard-container{
      padding-top: 20px;
      display: grid;
      height: 98vh;
      justify-items: center;
      align-content: flex-start;
      row-gap: 20px;
      width: 100%;
      margin: 0 auto;
      overflow: scroll;
  }
  
  .dashboard-container::-webkit-scrollbar {
    display: none;
  }
  

  .postSale-container{
      position: sticky;
      top: -20px;
      font: 1.2em sans-serif;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.212);
      padding: 10px 20px ;
      border-radius: 30px;
      background: white;
      z-index: 5;
  }

  .postSale-container a {
    text-decoration: none;

  }

  .postSale-container img {
      height: 60px;

  }

  .postSale-container :last-child{
      background:#B936D2;
      padding: 10px;
      border-radius: 15px;
      color: white;

  }

.search-container{
    display: grid;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-items: center;
    height: 60px;

}

.search-container footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #B936D2;
    column-gap: 2px;
    min-width: 370px;;
    justify-self: center;
    padding: 10px 5px ;
}

.search-container footer select{
    border: none;
    font: 1.2em sans-serif;

}
.search-container footer input{
    border: none;
    font: 1em sans-serif;
    padding-left: 15px;

}

.allGarageSales-container{
    padding-bottom: 70px;
}


.allGarageSales-container img{
    height: 215px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    
}

.garageSaleItem-container{
    display: grid;
    margin: 30px;
    /* padding: 20px; */
    background: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.212);
    border-radius: 20px;
    height: 400px;

}

.garageSaleItem-container button{
    background: #B936D2;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 180px;
    color: white;
    justify-self: flex-end;
}

.info-container{
    display: grid;
    padding: 0 30px;
}



/* .garageSale-container{
    background: red;
} */



.newGarageSale-container{
    display: grid;
    row-gap: 30px;
    width: auto;
    background: none;
    padding: 0px;
    justify-content: center;
  }

  .newGarageSale-container h2{
    margin-top: 10px;
    font: 1.1em sans-serif;
    color: #B936D2;
    border-bottom: solid 3px #9f3cb363;
  }


.backBTN-container  {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      padding: 20px;

  }

  .backBTN-container a {
      font: 1.1em sans-serif;
      text-decoration: none;
      margin-top: 10px;
      color: #B936D2;
  }


.user-container{
    margin: 0 auto;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.user-container img {
  height: 70px;
}

  
  
  .newGarageSale-container nav{
    background: white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    justify-items: center;
  
  }


  .newGarageSale-container nav a {
    font: 1.2em sans-serif;
    text-decoration: none;

  }

  
  .newGarageSale-container form{
      background: white;
      display: grid;
      row-gap: 10px;
      padding: 12px;
      width: 350px;
      box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.199);


    
    }

    .newGarageSale-container form input{
      font: 1em sans-serif;
      padding: 5px;
    }


    .newGarageSale-container form button{
        width: 100px;
        color: white;
        background: #B936D2;
        border: none;
        padding: 10px;
        border-radius: 30px;
        margin-top: 10px;

    }


    .timeStamp-container{
      display: grid;
      row-gap: 5px;
      grid-template-columns: 1fr 3fr;
    }

    .addressForm-container{
      display: grid;
      column-gap: 3px;
      grid-template-columns:  100px 1fr;
      
    }

 
    .cityZip-container{
      display: grid;
      column-gap: 3px;
      grid-template-columns: 1fr 100px;

    }


  .garageInfo-container{
    display: grid;
    font: .9em sans-serif;
    /* justify-content: center; */
    align-content: flex-start;
    height: 100vh;
 

  }

  .postInfo-container{
    display: grid;
    justify-self: center;
    text-align: center;

  }

  .postInfo-container h1 {
    background: #B936D2;
    padding: 10px;
    margin: 20px 0  -10px 0;
    color: white;
    border-radius: 20px 20px 0 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.185) 0 -3px 2px;
    
  }

  .postInfo-container img {
    width: auto;
    height: 250px;
  }
    

  .rate-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .rate-container p{
    font: 1.3em sans-serif;
  }

  
  .rate-container a{
    font: 1.3em sans-serif;
    color: #B936D2;
  }


.postInfo-container h2 {
  font: 1.7em sans-serif;
  padding: 10px;
  margin-top: 10px;

}

.postInfo-container button {
  width: 150px;
  justify-self: center;
  border: none;
  padding: 7px;
  font: 1.5em sans-serif;
  background: #B936D2;
  color: white;
  border-radius: 20px;
  margin-bottom: 50px;
}

.infoOptions-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font: 1.5em sans-serif;
}

.postInfo-container a {
  color: #B936D2;
}

.garageInfo-container  button:last-child {
  font: 1.5em sans-serif;
  font-weight: bold;
  background: white;
  color: #B936D2;
  border: solid 2px rgb(216, 216, 216);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  
}







